.boxHolder
{
    .box
    {
        border: 1px solid black;
        width: 10%;
        margin: 0 auto;
        img
        {
            width: 75%;
            height: 75%;
            border: 2px solid pink;
            
        }
    }
}